@model int;

@if (Model > 0)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Pedidos" asp-action="CarrinhoDeCompra">
            <i class="bi bi-cart4" style="padding-left: 10px"></i> @Model
        </a>
    </li>
}