<div class=" row"
    <div class="col-md-6 offset-3 alert alert-sucess text-center">
     <h2>Pedido Finalizado com sucesso!</h2>   
     <p>Você pode checar o status do seu pedido no seu perfil</p>
     <hr />
     <p>Obrigada por comprar com a gente!</p>

    </div>