@model string

<div class=" row">
    <div class="col-md-6 offset-3 alert alert-sucess text-center">
        <h2>Pedido Finalizado com sucesso!</h2>
        <p>Você pode checar o status do pedido no Chat do Whatsapp.</p>
        <hr />
        <p>Obrigada por comprar com a gente!</p>
    </div>
    <div class="col-md-2 offset-5 btn-group text-center">
        <a class="btn btn-outline-primary" href="@Model">
            Finalizar Pedido
        </a>
    </div>
</div>
