@model List<Pedido>

@{
    ViewData["Title"] = "Todos os Pedidos";
}

<div class="row"
    <div class="col-md-8 offset-2">
        <p>
            <h4>Liste todos os seus pedidos</h4>
        </p>

        <table class="table">
            <thead>
                <th>ID Pedido</th>
                <td>Items</td>
                <th> Total</th>
                <th> Usuario</th>
            </thead>
            <tbody>
                @foreach (var pedido in Model)
                {
                      <tr>
                           <td class="align-middle">@pedido.Id</td>
                            <td class="align-middle">
                                <ul style="list-style-type:none">
                                @foreach (var item in pedido.PedidoItems)
                                {
                                           <li>
                                              <div class="alert alert-info" role="alert">
                                                <span class="badge bg-success">@item.Quantidade</span> [@ITempDataDictionary.Preco.ToString("c")] - @item.Produto.Nome
                                              </div>
                                           </li>
                                }
                                </ul>

                           </td>

                             <td class="align-middle">
                               @pedido.PedidoItems.Select(n => n.Produto.Preco * n.Quantidade).Sum().ToString("c")
                             </td>
                          <td class="aling-middle"> - </td>
                      </tr>
                }
            </tbody>
        </table>

    </div>
</div>