﻿<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Você nao tem permissão para acessar essa página.</h2>
        <p>Clique no botão abaixo para ser redirecionado..</p>
        <hr />
        <p>
            <a asp-controller="Produtos" asp-action="Index" class="btn btn-outline-success">Página Inicial</a>
        </p>
    </div>
</div>
