﻿<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Sua conta foi criada com sucesso!</h2>
        <p>Agora você pode fazer login utilizando as suas credenciais.</p>
        <hr />
        <p>Obrigado!</p>
    </div>
</div>