@model IEnumerable<Usuario>

@{
    ViewData["Title"] = "Usuários";
}

<div class="row">
    <div class="col"></div>
    <div class="col-md-6">
        <p>
            <h4>Lista de Usuários</h4>
        </p>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="align-middle">
                                @(item.Nome + " " + item.Sobrenome)
                            </td>
                            <td class="align-middle">
                                @(long.Parse(item.Telefone).ToString(@"(00) 00000-0000"))
                            </td>
                            <td class="align-middle">
                                @item.Email
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>

    </div>
    <div class="col"></div>
</div>