@model IEnumerable<Usuario>

@{
    ViewData["Title"] = "Usuários";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Lista de todos os usuários</h4>
        </p>

        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            @(item.Nome + " " + item.Sobrenome)
                        </td>
                        <td class="align-middle">
                            @(string.Format("{0:(##) #####-####}", item.Telefone))
                        </td>
                        <td class="align-middle">
                            @item.Email
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>