@model IEnumerable<Categoria>

@{
    ViewData["Title"] = "Home";
}

<style>

    h1 span {
        position: relative;
        top: 10px;
        left: 10px;
        display: inline-block;
        color: #040404;
    }

    h2 {
        font-size: 17px;
        text-align: center;
    }

    .home-banner {
        background-image: url(../img/home.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 500px;
        position: relative;
    }

    .wrapper {
        background-image: url(../img/home.png);
        background-size: cover;
        background-position: center;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        position: relative;
    }

    .carousel-card {
        width: 95%;
        padding-top: 10px;
        margin: 0px auto;
        overflow: hidden;
    }

    .slick-slide {
        margin: 10px;
    }

        .slick-slide img {
            width: 100%;
            border: 2px solid #fff;
        }


    .framework-card {
        display: inline-block;
        background: #fff;
        border-radius: 20px;
        padding: 2rem;
        text-align: center;
        padding-top: 3rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin: 0 1rem;
        height: 400px;
        overflow: hidden;
    }

        .framework-card img {
            height: 80px;
            width: 100%;
            object-fit: contain;
        }

        .framework-card p {
            font-family: 'radnika-next';
            font-weight: 900;
            background: #f1d7ff;
        }

    @@media screen and (max-width: 600px) {
        .framework-card {
            height: 350px;
        }
    }

</style>

<body>

    <div class="text-center">
        <h1>
            <span>B</span>
            <span>E</span>
            <span>M</span>
            <span>-</span>
            <span>V</span>
            <span>I</span>
            <span>N</span>
            <span>D</span>
            <span>O</span>
        </h1>
        <br />

        <h2>
            "Praticar o autocuidado é uma forma inteligente e eficaz de melhorar inúmeros aspectos em prol da qualidade de vida.
            <br> Aumenta a autoestima,
            diminui os custos com a saúde e melhora as funções mentais e físicas."
        </h2>

        <hr />


    </div>

    <div class="wrapper">
        <div class="carousel-card">
            @foreach (var item in Model)
            {
                <div class="framework-card">
                    <a asp-controller="Produtos" asp-action="FiltroCategoria" asp-route-id="@item.Id" style="color: #212529">
                        <img src="~/img/@item.ImagemUrl">
                        <p>Linha @item.Nome</p>
                    </a>
                    @item.Descricao

                </div>
            }
        </div>
    </div>

    <div class="contato">

        <!-- início botão Instagram -->
        <a href="https://instagram.com/permita_se.harmonia?igshid=ZWIzMWE5ZmU3Zg==" style="position:fixed;width:50px;height:50px;bottom:75px;right:15px;border-radius:50px;text-align:center;font-size:30px;z-index:999997;box-shadow: 0px 0px 0px #888; background-color: white" target="_blank">
            <img src="./img/instagram.png" width="50" height="50" alt="Siga nosso Instagram">
        </a>
        <!--  fim botão Instagram  -->
        <!-- Inicio botão Whatsapp -->
        <a href="https://wa.me/5531982493554?text=Oi!%20Vim%20do%20site%20e%20desejo%20receber%20atendimento." style="position:fixed;width:50px;height:50px;bottom:15px;right:15px;border-radius:50px;text-align:center;font-size:30px;z-index:999997;box-shadow: 0px 0px 0px #888; background-color: white" target="_blank">
            <img src="./img/whatsapp.png" width="34" height="34" alt="Fale Conosco pelo WhatsApp">
        </a>
        <!-- fim botão WhatsApp  -->

    </div>

    <!-- Carrossel de Imagens -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.carousel-card').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2250,
                nextArrow: $('.next'),
                prevArrow: $('.prev'),
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 700,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });
    </script>

</body>