@{
    ViewData["Title"] = "Home Page";
}

<style>
    h1 {
        font-family: Franklin Gothic Medium;
        font-size: 20px;
        text-align: center;
    }

    h3 {
        font-family: sans-serif;
        font-size: 20px;
        text-align: center;
        margin: 45px 10px 10px 10px;
    }

    h6 {
        font-family: Franklin Gothic Medium;
        font-size: 15px;
        text-align: center;
    }

    q {
        quotes: '"' '"';
    }

        q ::before, q ::after {
            quotes: '"' '"';
            color: black;
            font-size: 60px;
            top: 10px;
        }
</style>

<body>
    <div class="text-center">
        <h1>CONHEÇA NOSSAS LINHAS</h1>

        <br />

        <h6>
            <q>
                Praticar o autocuidado é uma forma inteligente e eficaz de melhorar inúmeros aspectos em prol da qualidade de vida: <p> aumenta a autoestima,
                diminui os custos com a saúde e melhora as funções mentais e físicas.</p>
        </h6></q>

        <hr />

        <br />
    </div>
    <div style='
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center'>
        <div class="spa" style='width: 30%'>
            Linha Spa 
            <p> </p> 
            asjdiashlaj diçfj çeifj eçif jweçifwjoçe aeiçof 
        </div>
        <div class="Terapeutico" style='width: 30%; align-items: center'>
            Linha Terapeutica
            <p> </p>
            asjdisaldjasldksadpsadjiosansm
            <p>sdoamfklndsadlasdailkfhndjlakdcndjalkhfdhd</p>
        </div>
        <div class="Home Sweet" style='width: 30%; align-items: center'>
            Linha Home Sweet
            <p> </p>
            asjdisaldjasldksadpsadjiosansjk.dslk
            <p>sdoamfklndsadlasdailkfhndjlakdcndjalkhfdhd</p>
        </div>

    </div>

    <div>
        <div class="text-center">
            <h3>Quem Somos?</h3>
            <p> - Somos duas mulheres, irmãs, amigas e empreendedoras que nos unimos para trazer saúde e bem estar através da fitoterapia, da fitoenergética e da aromaterapia.</p>
            <p> Permita-se nasceu da vontade de ajudar as pessoas a se conhecer, a se amar e se cuidar!</p>
            <p>Acreditamos que o auto cuidado é a melhor maneira de cuidar do seu corpo e mente para uma vida melhor!</p>
            <p>Apresentamos a vocês a nossa linha de produtos terapêuticos 100% natural e cosméticos tudo feito artesanalmente com muito amor e carinho.</p>
            <p>Permita-se sentir!</p>
        </div>
    </div>
</body>

